.body{
    background: rgb(255,140,24);
    background: linear-gradient(180deg, rgba(255,140,24,1) 0%, rgba(87,27,252,1) 70%, rgba(16,109,205,1) 100%);
    flex: 1;
    display: flex;
    height: 110vh;
    overflow: hidden;
}