.profile{
    margin-top: 5rem;
    background-color: #0e0e10;
}
.profile__top{
    display:flex;
    align-items: center;
}
.profile__topLeft{
    display: flex;
    align-items: center;
    flex: 1;
}
.profile__topLeft>img{
    object-fit: contain;
    height: 100px;
    width: 100px;
    margin: 40px;
    border:2px solid #35353a;
    padding: 3px;
    border-radius: 50%;
}
.profile__topRight{
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.profile__topRight>div{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    /* width: 40px; */
    text-align: center;
    
}
.profile__topRight>div>i{
    font-size: 26px;
    text-decoration: none;
    font-style: normal;
    
}
.profile__topRight>.graybg{
    background-color: #35353a;
}
.profile__topRight>.purplebg{
    background-color: #a5239f;
}
.profile__menu{
    display: flex;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 55px;
}
.profile__menu>h2{
    margin-right: 15px;
    cursor: pointer;
}
.profile__menu>.arrow {
    transform: rotate(45deg);
    /* margin-right: -5px; */
}
.profile__menu>.active{
    color: #a970ff;
    border-bottom: 5px solid #a970ff;
    padding-bottom: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 20px;
}
.item>i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c5c5c;
    width: 360px;
    height: 180px;
    border-radius: 5px;
    border: 2px solid #0e0e10;
}
.item__details{
    display: flex;
    margin-top: 25px;
}
.item__details>img{
    object-fit: contain;
    height: 60px;
    margin-right: 10px;
}
.profile__recentItens{
    display: flex;
}
.profile__recent{
    margin-left: 40PX;
}
.profile__categories{
    margin-top: 40px;
}
.profile__categories>img{
    width: 203px;
    height: 271px;
}
.profile__categories>h2{
    margin-bottom: 20px;
}
.profile__categories>h3{
    margin-top: 10px;
}
.profile__header{
    display: flex;
    justify-content: center;
    align-items: center;
}